* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
    background: #000;
    color: white;
}

.transform-center {
    left: 50%;
    transform: translateX(-50%);
}
.overlay {
    background-color: #000000c5;
}